.login-form{
    width:100%;
    
    margin:auto;
    height:100%
}

.row-right{
    float: right;
	width: 30%;
    margin-right: -2.5cm;
    margin-top: 1cm;
}

label{
    font-weight: bold;
}
#text{
    font-weight: bold;
}

#login{
    background-color: rgb(166, 135, 177);
}

#register{
    background-color: white;
    color: rgb(166, 135, 177);
}

